.login-container {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
  margin-bottom: 3rem;
}

.login-form {
  width: 340px;
  padding: 20px;
  border-radius: 10px;
  background: #eee;/*  */
}

.register-link {
  display: flex;
  justify-content: center;
  font-size: 12px;
  color: black;
  margin-top: 40px;
}

.loginBtn {
    margin-top: 20px;
}