.register-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 3rem;
}


.register-form {
  width: 340px;
  padding: 20px;
  border-radius: 10px;
  background: #eee;/*  */
}

.registerBtn {
    margin-top: 10px;
}