:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
  color: rgba(9, 7, 7, 0.87);
  background-color: #ffffff;
  /* overflow-x: hidden; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-content {

  padding-top: 0px; /* prevents navbar overlap */
  background: rgb(252, 252, 252); /* optional, remove when done */
}

.main-content h1 {
  color: black;
}

/* minimal global reset */
body {
  margin: 0;
  padding: 0;
}

button {
  border-radius: 8px;
  margin: 1rem;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #323232;
  cursor: pointer;
  color: #ffffff;
  transition: border-color 0.35s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.main-content {

  padding-top: 0px; /* prevents navbar overlap */
  background: rgb(252, 252, 252); /* optional, remove when done */
}

.main-content h1 {
  color: black;
}
